project/*/freertos/
project/*/.repos/
.repos/
*.swp
*.bak
*.udb
*.files
*.out
tags
*.scc
*.vim
*.viminfo
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults
*.bak
*~
*.vpj
*.vpw
*.vpwhist
*.vtg
[Tt]humbs.db
~$E*
project/bootloader/freertos-config_*.cmd
project/update_nor/freertos-config_*.cmd